* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html{
    overflow:  hidden;
    background-color: rgb(0, 0, 0);
}

body{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

span{
    animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-name: test;
}
@keyframes test {
  0%   {
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }
  25%  {
    transform:rotate(90deg);
    left:300px; 
    top:300px;
  }
  50%  {
    transform:rotate(180deg); 
    left:300px; 
    top:400px;
  }
  75%  {
    transform:rotate(270deg);
    scale: 20;
  }
  100% {transform:rotate(360deg);
    left:300px;
    top:600px;
  }
}

i{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    pointer-events: none;
    user-select: none;
    transform: translate(50%, 50%);
}

.field{
    margin-top: 1vw;
    display: grid;
    grid-template-columns: repeat(3, calc(50ch/3));
    grid-template-rows: repeat(3, calc(50ch/3));
}
.box{
    border-color: white;
    position: relative;
    justify-content: center;
    border-style: solid;
}
#motion{
    text-align: center;
    width: 15ch;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
#button{
    position: absolute;
    bottom: 7%;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
#counter{
    width: 30ch;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}
#counter::before{
    content: "\f00d";
    font-family: FontAwesome;
    color: rgb(206, 32, 41);
    font-size: 1.3em;
}
#counter::after{
    content: "\f1db";
    font-family: FontAwesome;
    color: rgb(33, 110, 190);
    font-size: 1.3em;
}

#version{
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    color: rgb(98, 98, 98);
}
#all{
    position: absolute;
    width: 100vw;
    height: 100vw;
    pointer-events: none;
}